.container-fluid
  .row
    .col-md-2.left-menu
      ul.list-group ng-show="state == 'products.index'"
        li.list-group-item
          .input-group
            input.form-control type='text' ng-model='searchKeyword.name' placeholder='Search'
            span class='input-group-addon'
              span class='glyphicon glyphicon-picture' aria-hidden='true'

        li.list-group-item: a ui-sref='products.new' Add product

      ul.list-group ng-show="state == 'products.show'"
        li.list-group-item: a ui-sref='products.index' All products
        li.list-group-item: a ui-sref='products.edit({id: params.id})' Edit

      ul.list-group ng-show="state == 'products.new'"
        li.list-group-item: a ui-sref='products.index' All products

      ul.list-group ng-show="state == 'products.edit'"
        li.list-group-item: a ui-sref='products.index' All products
        li.list-group-item: a ui-sref='products.show({id: params.id})' To product

    .col-md-9
      div ui-view=''

