form name='product_form' ng-submit='submitFn()'
  .form-group ng-class="{'has-error': product_form.name.$error.required}"
    label for='name' Name
    input#name.form-control type='text' placeholder='Name' name='name' ng-model='product.name' required=''

  .form-group ng-class="{'has-error': product_form.price.$error.required}"
    label for='price' Price
    input#price.form-control type='number' name='price' step='0.01' placeholder='Price' ng-model='product.price' required=''

  .form-group
    label for='descriprion' Description
    textarea#description.form-control rows='5' placeholder='Description' ng-model='product.description'

  button.btn.btn-default type='submit' {{submitBtnText}}
