.row
  .col-md-4
    h2 Edit product
  .col-md-8
    .btn-group.btn-toolbar.pull-right
      .btn.btn-default ng-click='delete()' Delete
product-form submit-fn='submit' product='product' submit-btn-text='Edit'
