.row
  .col-md-4
    h2 All products
.row
  uib-pagination items-per-page='itemsPerPage' total-items='totalItems' ng-model='currentPage' num-pages='noOfPages'

  ul
    li ng-repeat="product in products | filter: searchKeyword | orderBy: 'name' | startFrom:(currentPage-1)*itemsPerPage | limitTo:itemsPerPage"
      a ui-sref='products.show({ id: product.id })'
        |{{product.name}}: {{product.price | currency}}
      p
        |{{product.description | limitTo: 20}}

  uib-pagination items-per-page='itemsPerPage' total-items='totalItems' ng-model='currentPage' num-pages='noOfPages'
