doctype html
html ng-app='angTest'
  head
    title Травник

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  body
    nav-bar
    .container-fluid
      div ui-view=''



